<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.row{width:100%!important}
.dontshow{display:none}
.dontshowbanner1{display:none}
.elementor-widget{position:initial}
.rtchat {position:absolute;bottom:-30px!important;left:0}
.elementor-60 .elementor-element.elementor-element-54214fb4 .elementor-image img{width:250px!important}
.elementor-slick-slider .slick-slide img{height:200px}
.slick-slide-inner{height:200px!important}
.slick-slide-inner img{height:200px!important}
.elementor-section.elementor-section-boxed>.elementor-container{max-width:1156px!important}


.elementor-col-33 {width:33.333%!important}

.mega-menu-link{display:inline-block;}
.mega-menu-link span{padding:4px;color:#368a8c;}
#mega-menu-wrap-primary #mega-menu-primary{padding-top:8px!important}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link{background:none!important}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link{color:#368a8c!important}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:hover{background:none!important}

form.wpcf7-form{background:#368a8c;color:white;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;box-shadow:10px 10px 10px #ccc}

#header{padding:0}
.mobileonly,.mobilephoneonly{display:none}
.profileicon {margin-right:-10px!important}
.profileicon img{width:25px;height:25px;border-radius:50%;border:1px solid #ccc}
.mega-menu-link{display:inline-block;z-index:9999!important}
.mega-menu-link span{padding:4px;color:white;}
#mega-menu-wrap-main-menu #mega-menu-main-menu a.mega-menu-link{color:#368a8c!important;line-height:2.5em!important}
.mega-menu-link:hover{color: #37A000!important;font-weight:bolder!important}

.elementor-button-link .elementor-button{position:absolute;bottom:0}
#carousel-14499 .rpc-box{min-height:390px}  
#footer{background-image: linear-gradient(#3f8887, #186362);}
.list-unstyled{margin-top:15px}
.form-group input[type="submit"] {margin-left:0!important}
@media only screen and (max-width: 600px) {
  .s-control{display:none}
  .elementor-60 .elementor-element.elementor-element-ae38bdd {padding:0!important}
.elementor-col-33 {width:100%!important}
.pull-right{float:right!important}
.mobileonly,.mobilephoneonly{display:initial}
.mobilenone{display:none}
.mobiletext{text-align:center}
li{text-align:left;font-size:14px}
.elementor-element-e04554d,.elementor-element-f5ace5e{display:none}
.elementor-element-db302e1 {height:795px}
.elementor-60 .elementor-element.elementor-element-c07ef4a{margin-top:215px}
.elementor-element-375c5ab{margin-top:25px}
.elementor-element-eabb0e9 {padding-top:45px}
.elementor-col-33{padding:0}
  
#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label{padding-left:10px}
  .mega-menu-link{float:right;padding-right:33px!important;display:inline-block}
  .mega-menu-link span{padding:8px;color:white;float:right!important;margin-top:5px;margin-bottom:10px}
  .mega-menu-item select{margin-right:33px!important}
  .mobilenotshow, .elementor-element-54214fb4{display:none}
  #content{margin-top:-30px}
  
  .mobileapp{position:fixed;bottom:0;width:100%;height:55px;background:#5bbc2e;color:white!important;font-size:13px;z-index:9999!important;padding:10px 0;box-shadow:1px -2px 5px #666}
  .mobileapp a{color:white!important}
  .mobileappbg td{background:#5bbc2e;text-align:left!important;border:none;padding:1px!important}
  #closemobileapp{margin:0 10px 0 -10px;z-index:9999;vertical-align:top}
  .androidicon{width:32px;margin-right:20px}
  #header{position:fixed;top:0;z-index:9999!important;width:100%;padding:0;z-index:99999!important}
  
  .howtobecome{font-size:16px!important}
  .elementor-element-9f730e3 {margin-top: -10px;margin-bottom: -1px;}
  .slide_viewer{height:200px!important}
  .container{border:none!important}
  .col-md-12{padding:0}
  #slider ul li video,#slider ul li img{width:100%!important}
  a.control_prev, a.control_next{top:10%!important}
  #slider{width:100%!important}
  .collapse.active{max-height:300px!important}
  .heighttw{height:20px!important}
  .elementor-element.elementor-element-f504056.elementor-widget.elementor-widget-heading{width:109%!important}
  .mobilemenucolor{background:white!important}
  .mobilemenuborder{border-bottom:4px solid #368a8c}
  
  #footer{padding-top:10px!important}
  
  .mobilemenutable td{text-align:center;padding:10px}
  #mega-menu-wrap-main-menu #mega-menu-main-menu a.mega-menu-link{line-height:1.5em!important}
  .main-menu{margin-top:0!important}
  .mobiletravcust{padding:15px!important;margin-right:5%;text-align:center;width:90%}
  .mobiletravcustli{width:100%}
  #mega-menu-wrap-main-menu .mega-menu-toggle.mega-menu-open + #mega-menu-main-menu{box-shadow:0px 5px 5px #666}
  .elementor-slick-slider .slick-arrows-inside .slick-prev{left:-15px!important;z-index:9999!important}
  .elementor-slick-slider .slick-next{right:-25px!important;z-index:9999!important}
  input[type="submit"]{margin:0!important;width:100%!important}
  #b9d7a0e{margin-top:20px}
  .elementor-60 .elementor-element.elementor-element-163acf2{margin-top:0}
  .elementor-element-622dfda{margin-bottom:-50px;width:109%}
  .elementor-element-9d14ce3{margin-bottom:-20px!important}
  .elementor-element-92bfb06 .slick-prev{left:0px!important;}
  .elementor-element-92bfb06 .slick-next{right:-7px!important;}
  .wcp-carousel-main-wrap .rpc-post-carousel3 .rpc-post-image{min-height:330px!important}
  .wcp-carousel-main-wrap .rpc-post-carousel3 .rpc-post-image, .wcp-carousel-main-wrap .rpc-post-carousel3 .rpc-post-image img{min-height:200px;max-height:200px}
  
  .slider5{width:110%}
  .heroSlider-fixed{margin-left:40px}
  
  .elementor-element-5336c61 {margin-top:100px}
  .outer-wrapper{margin-top:0!important}
  .mobilefooter{text-align:center!important}
  .mobilemargintop{margin-top:20px}
  .elementor-60 .elementor-element.elementor-element-2b89675{padding:0%!important}
  
  #mega-menu-wrap-primary #mega-menu-primary{background:white!important;border-bottom:3px solid #368a8c}
  #mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-blocks-right .mega-toggle-block{margin-top:7px}
}



</style>
<!-- end Simple Custom CSS and JS -->
