<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.bordershadow{background-color: #ffffff;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #d8d8d8;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    width: 38%;
    margin: auto;
    margin-bottom: 60px;
}

li{list-style:none}

#footer{margin-top:-35px;
  padding-top:70px;
    color: #fff!important;
    background-color: #1A6D84;}
#footer li{color: #fff!important;margin-left:-40px}
#footer_phone{font-size:12px}

.list-unstyled li a{color:white!important}
.list-inline div{display:inline-block;margin-left:-40px}
.list-inline div img{height:70px;margin-right:30px;padding-right:30px}

.entry-footer{margin-bottom:80px}
.slick-slide-image{cursor:pointer}</style>
<!-- end Simple Custom CSS and JS -->
